apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: storage

resources:
- namespace.yaml
- minio
- postgres
- volume-backup-cleaner

secretGenerator:
- name: minio
  envs:
  - secrets/minio
- name: postgres
  envs:
  - secrets/postgres
- name: registry
  type: kubernetes.io/dockerconfigjson
  files:
  - .dockerconfigjson=secrets/registry

patchesStrategicMerge:
- overlays/postgres.yaml
