apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: db-backup
  labels:
    app: db-backup
spec:
  schedule: 0 * * * *
  jobTemplate:
    spec:
      template:
        spec:
          imagePullSecrets:
            - name: registry
          containers:
            - image: ghcr.io/davidsbond/db-backup:latest
              name: db-backup
              env:
                - name: BUCKET_DSN
                  value: s3://databases?endpoint=minio.storage.svc.cluster.local:9000&region=none&s3ForcePathStyle=true&disableSSL=true
                - name: AWS_ACCESS_KEY_ID
                  valueFrom:
                    secretKeyRef:
                      key: minio.access_key
                      name: minio
                - name: AWS_SECRET_KEY
                  valueFrom:
                    secretKeyRef:
                      key: minio.secret_key
                      name: minio
                - name: TRACER_DISABLED
                  value: 'true'
                - name: BUCKET_DIR
                  value: postgres
                - name: DB_USERNAME
                  valueFrom:
                    secretKeyRef:
                      key: postgres.user
                      name: postgres
                - name: DB_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      key: postgres.password
                      name: postgres
                - name: DB_DSN
                  value: postgres://$(DB_USERNAME):$(DB_PASSWORD)@postgres.storage.svc.cluster.local
              readinessProbe:
                httpGet:
                  path: /__/health
                  port: 8081
                initialDelaySeconds: 5
          restartPolicy: OnFailure
